.form-input {
    width: 100%;
}

.form{
    max-width: 600px;
    margin:0 auto;
}
.reserve-booking-title{
    text-align: center;
}
.form-input {
    padding: 5px 0px;
}

.form-name-container{
    padding-bottom: 10px;
}
.form-date-container{
    padding-bottom: 10px;
}

.form-phone-container{
    padding-bottom: 10px;
}

.form-submit{
    width: 604px;
    padding: 10px 0;
    background-color:#1089FF ;
    border: 1px solid #1089FF;
    border-radius: 5px;
    color: white;
}