.slick-prev {
    left: 10%;
    z-index: 1;
}
.slick-next {
    right: 10%;
    z-index: 1;
}

.imageslider-img{
        display: inline;
        text-align: center;
}
.slick-slide{
    text-align: center;
}

.slick-slide img {
    display: inline;
}
.slick-dots{
    bottom: 25px;
}