.main-container{
    height: 200px;
    background-attachment: fixed;
    background-image: url("/images/boat4.jpg");
    background-size: auto;
    text-align: center;
    color: white;
    overflow: auto;
}   

.maintext-container{
    background-color:rgba(16,137,255,.8);
    height: 200px;
    font-size: 30px; 
}
.maintext-title{
    padding-top: 25px;
}
.maintext-subtitle{
    padding: 15px 0px;
    font-size: 15px;    
}
.maintext-link{
    color: white;
    text-decoration: none;
    background-color:rgb(248, 81, 20);
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 10px ;
}

.maintext-link:hover{
    background-color: blue;
}
